# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
media/

# Environment variables
.env

# IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Test coverage
.coverage
htmlcov/

# Static files (only if generated locally)
staticfiles/