{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/form_base.css' %}">
{% endblock %}
{% block extra_head %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {{ form.media }}
{% endblock %}
{% block title %}Създване на приета кола{% endblock %}

{% block content %}
    <h1>{% if object %}Редактирай приета кола{% else %}Създай приета кола{% endif %}</h1>

    <form method="post" action="{% if object %}{% url 'edit accepted car' object.pk %}{% else %}{% url 'create accepted car' %}{% endif %}">
        {% csrf_token %}

        <div class="grid2">
            <div class="field">
                <label for="{{ form.customer.id_for_label }}">Клиент</label>
                {{ form.customer }}
            </div>
            <div class="field">
                <label for="{{ form.car.id_for_label }}">Кола</label>
                {{ form.car }}
            </div>
            <div class="field">
                <label for="{{ form.accepting_employee.id_for_label }}">Приемащ служител</label>
                {{ form.accepting_employee }}
            </div>
        </div>

        <div class="sec">Оплаквания по колата</div>
        {% include 'service/_issue_rows.html' with add_label="Добави оплакване" %}

        <div class="foot">
            <span class="hint">"Друго" отваря поле за писане</span>
            <button type="submit" class="btn primary">Запази</button>
        </div>
    </form>

    <script src="{% static 'js/issues_visualization.js' %}"></script>
{% endblock %}