{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block additional_css %}{% endblock %}
    <title>{% block title %}RGB Car Management{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'accepted cars' %}">Приети коли</a></li>
            <li><a href="{% url 'cars' %}">Коли</a></li>
            <li><a href="{% url 'issued cars' %}">Издадени коли</a></li>
            <li><a href="{% url 'customers' %}">Клиенти</a></li>
            <li><a href="{% url 'create accepted car' %}">Създай приета кола</a></li>
            <li><a href="{% url 'create car' %}">Създай кола</a></li>
            <li><a href="{% url 'create issued car' %}">Създай издадена кола</a></li>
            <li><a href="{% url 'create customer' %}">Създай клиент</a></li>
            <li><a href="{% url 'logout' %}">Изход</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>